

p{
    width: 100%;
}
li{
    list-style-type: none;
    display: inline;
    padding-left: 25px;
}
.topheader {
    color: #fff;
    padding-left: 80px ;
    background-color: darkblue;
}
.topheader a {
    color: #fff;
    padding-left: 25px ;
    background-color: darkblue;
}
.top a{
    padding-left: 30px;
}
.top{
    opacity: transparent;
}
.home{
    background-image: url(./berry-college-historic-campus-at-twilight-royalty-free-image-1652127954.jpg);
    width: 100%;

}
h1{
    font-size: xx-large;
    font-weight: bold;
}
.abc{
    border:1px solid black;
    width: 80%;
    padding: 10px;
    margin: auto;
}
.bob1{
    float:left;
    width:50%;
}
.bob2{
    float:right;
    width:50%;
}
.tab{
    width: 100%;
}
.yob{
    list-style-type:none;
    display: inline;
}
